

                                        .standard{
                                          color: rgb(227, 101, 101)
                                        }
                                        .japanese{
                                           color: rgb(74, 206, 74);
                                        }
                                        .asiatic{
                                          color: rgb(83, 107, 212);
                                       }
                                        .chinese{
                                          color: rgb(208, 214, 115);
                                       }
                                        .american{
                                          color: rgb(125, 18, 146);
                                       }
                                        .fastFood{
                                          color: rgb(106, 207, 202);
                                       }
                                        .vegan{
                                          color: rgb(214, 149, 75);
                                       }